&esmf
esmf_coeffs_file = "{{esmf_coeffs_file}}"
invar_file = "{{invar_file}}"
invar_name = "{{invar_name}}"
ncoutput = "{{ncoutput}}"
outvar_file = "{{outvar_file}}"
outvar_name = "{{outvar_name}}"
/

